/* header */

* {
    padding: 0;
    margin: 0;
}

body, html {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-height: 100%;
    max-width: 100%;
}

/* thinner scrollbar for firefox */
.scroller {
    scrollbar-width: thin;
}

/* thinner scrollbar for chrome/safari */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb:window-inactive {
    background-color: rgba(0, 0, 0, 0.0);
}

::-webkit-scrollbar-track:window-inactive {
    background-color: rgba(0, 0, 0, 0.0);
}

.main-container {
    color: black;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 9pt;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 54px;
    min-height: 54px;
}

.chats-list-header {
    display: flex;
    align-items: center;
    min-width: 300px;
    width: 20%;
    height: 100%;
    z-index: 1;
    box-shadow: 1px 0px 0 rgba(0, 0, 0, 0.1);
}

.chat-header {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    z-index: 1;
    box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.1);
}

.icon {
    margin-left: auto;
    margin-right: auto;    
}

.icon-wrapper > a {
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
}

.icon:hover {
    -webkit-filter: brightness(70%);
}

.search-input {
    height: 32px;
    color: #a8a8a8;
    background-color: #f1f1f1;
    border-radius: 3px;
    flex-grow: 1;
    padding-left: 8px;
    margin-right: 12px;
    border: none;
    outline: none;
}

.search-input:focus {
    background-color: white;
    box-shadow: 0 0 0 2px #419fd9;
}

.animated {
    transition: all 0.1s ease-out;
}

.status-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
}

.status-block > div {
    margin-top: 2px;
    margin-bottom: 2px;
}

.name-text {
    color: black;
    font-weight: bold;
}

.status-text {
    color: #a8a8a8;
}

/* contents */

.contents {
    display: flex;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-flow: row;
    overflow-y: hidden;
}

.chats-list {
    display: block;
    min-width: 350px;
    min-width: 300px;
    width: 20%;
    height: 100%;
    min-height: 0;
    overflow-y: auto;
    z-index: 2;
    box-shadow: 1px 0px 0 rgba(0, 0, 0, 0.1);
}

.chat {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    background-image: url(../img/background.jpg);
    overflow-y: hidden;
}

/* chats-list-item */

.chats-list-item {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 64px;
}

.chats-list-item:hover {
    background-color: #f1f1f1;;
}

.chats-list-item.selected {
    background-color: #40a7e3;
}

.user-pic-wrapper {
    display: flex;
    align-items: center;
}

.user-pic {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}

.chats-list .user-pic-wrapper {
    height: 100%;
    width: 64px;
    margin-left: 8px;
    margin-right: 8px;
}

.chats-list .user-pic {
    max-height: 80%;
}

.chat-data {
    flex-grow: 1;
    flex: 1 1 0;
    min-width: 0;
    display: flex;
    flex-flow: column;
    margin-right: 12px;
    justify-content: center;
}

.chat-data .data-wrapper {
    max-width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 4px;
    margin-bottom: 4px;
}

.chat-data .text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1 0 30px;
}

.chat-data .unread-count {
    min-width: 10px;
    padding: 2px 4px 2px 4px;
    line-height: 120%;
    background-color: #40a7e3;
    color: white;
    border-radius: 500px;
    flex: 0 1 fit-content;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    margin-left: 2px;
}

.unread-count.notifications-off {
    background-color: #a8a8a8 !important;
}

.chat-data .name {
    font-weight: bold;
}

.chat-data .text {
    color: #a8a8a8;
}

.chat-data .timestamp {
    color: #a8a8a8;
}

span.sender {
    color: #40a7e3;
}

.chat-data img {
    height: 9px;
    margin-right: 4px;
}

.selected .chat-data {
    color: white !important;
}

.selected .chat-data .name {
    color: white !important;
}

.selected .chat-data .text {
    color: white !important;
}

.selected .chat-data .timestamp {
    color: white !important;
}

.selected .chat-data .unread-count {
    color: #40a7e3 !important;
    background-color: #c6e1f7 !important;
}

.selected span.sender {
    color: white !important;
}

.selected .chat-data img {
    filter: invert(100%);
}

/* chat area */

.chat-messages {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.write-message-bar {
    width: 100%;
    height: 45px;
    min-height: 45px;
    background-color: white;
    display: flex;
    flex-flow: row;
    align-items: center;
    z-index: 1;
    box-shadow: 0px -1px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.message-input {
    flex-grow: 1;
    margin-left: 8px;
    margin-right: 8px;
    border: none;
    outline: none;
    resize: none;
}

.message-input::placeholder {
    color: #a8a8a8;
}

.write-message-bar .icon-wrapper > a {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-left: 8px;
    margin-right: 8px;
}

/* chat messages */

.message-wrapper {
    width: 100%;
    display: flex;
    align-items: end;
    overflow: visible;
    margin-top: 4px;
}

.separator {
    min-height: 8px;
    border: none;
}

.message-pic-wrapper {
    max-height: 32px;
    max-width: 32px;
    min-width: 32px;
    margin-left: 16px;
    margin-right: 8px;
}

.message-pic {
    border-radius: 50%;
}

.message-box {
    position: relative;
    max-width: 500px;
    min-width: 150px;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px 4px 4px 4px;
    color: black;
}

.message-box.last {
    border-bottom-left-radius: 0px;
}

.arrow {
    bottom: 0;
    left: -8px;
    position: absolute;
    width:8px;
    height:8px;
    overflow:hidden;
    transform: rotate(90deg);
}

.my .arrow {
    box-shadow: 2px 0px 0 rgba(93, 196, 82, 0.4);
}

.other .arrow {
    box-shadow: 2px 0px 0 rgba(168, 168, 168, 0.4);
}

.arrow:before {
    content: '';
    position: absolute;  
    right: 0;
    top: 0;
    background: transparent;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.my .arrow:before {
    box-shadow: 0 0 0 16px #effdde;
}

.other .arrow:before {
    box-shadow: 0 0 0 16px white;
}

.message-box.my {
    background-color: #effdde;
    box-shadow: 0px 2px 0 rgba(93, 196, 82, 0.4);
}

.message-box.other {
    background-color: white;
    box-shadow: 0px 2px 0 rgba(168, 168, 168, 0.4);
}

.my .message-meta {
    color: #5dc452;
}

.other .message-meta {
    color: #a8a8a8;
}

.message-meta {
    float: right;
    margin: 4px -4px -4px 8px;  
}

.received-icon {
    max-height: 10px;
}
