/* header */

.header {
    background-color: #5682a3;
    color: white;
    display: flex;
    height: 60px;
}

.chats-list-header {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    box-shadow: 2px 0 5px -2px rgba(0,0,0,0.5);
    min-width: 350px;
    height: 100%;
}

.chat-header {
    color: white;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}

.icon {
    max-height: 40%;
}

.user-pic {
    max-height: 70%;
    border-radius: 50%;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    max-height: 100%;
    height: 100%;
}

.status-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100%;
    height: 100%;
}

.name-text {
    font-weight: bold;
    font-size: 12pt;
}

.status-text {
    font-size: 10pt;
}

#menu-icon {
    padding-left: 10px;
}

#search-icon {
    padding-right: 10px;
}

#left-arrow-icon {
    padding-left: 10px;
}

#options-icon {
    padding-right: 10px;
}

/* contents */

.contents {
    background-color: white;
    font-family: sans-serif;
    color: black;
    display: flex;
    width: 100%;
}

.chats-list {
    display: block;
    box-shadow: 2px 0 5px -2px rgba(0,0,0,0.5);
    min-width: 350px;
    z-index:10;
}

.chats-list-item {
    height: 60px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: #ddd;
    display: flex;
    align-items: center;
}

.chats-list-item:hover {
    background-color: #ddd;
}

.selected {
    background-color: #eee;
}

.time-stamp {
    color: #aaa;
    font-size: 10pt;
    align-self: start;
    white-space: nowrap;
    padding: 5px;
}

.unread-counter {
    align-self: flex-end;
    background-color: #64BB4D;
    min-height: 20px;
    min-width: 20px;
    text-align: center;
    margin:5px;
    line-height: 20px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 15px; 
}

/* chat */

.chat-contents {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    background-color: #D0DBE1;
    min-height: 500px;
    max-height: 500px;
}

.chat {
    width: 100%;
    display: block;
}

.message-wrapper {
    padding-bottom: 20px;
    padding-left: 10px;
}

.message {
    width: 60%;
    padding: 5px;
    padding-bottom: 15px;
    min-height: 30px;
    position: relative;
}

.my-message {
    align-self: end;
    margin-left:auto;
    margin-right:0;
    background-color: #E7FFD1;
    margin-right: 10px;
}

.others-message {
    background-color: white;
}

.message-timestamp {
    position: absolute;
    bottom: 0px;
    right: 0px;
    white-space: nowrap;
    margin-right: 2px;
    font-size: 10px;
    
}

.my-message > .message-timestamp {
    color: #94A686;
}

.others-message > .message-timestamp {
    color: #aaa;
}

.input-box {
    display: flex;
    height: 40px;
    background-color: white;
    align-items: center;
}

.input-box-icon {
    height: 60%;
}

textarea {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 12px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: #ddd;
}

#emoji-icon {
    padding-left: 10px;
}

#attach-icon {
    padding-left: 10px;
}


.block1 {
    position: relative;
}

.block2 {

    position: absolute;
    top: 0px;
    right: 0px;
}