/* header */

* {
    padding: 0;
    margin: 0;
}

body, html {
    overflow: hidden;
}

a {
    text-decoration: none;
}

/* thinner scrollbar for firefox */
.scroller {
    scrollbar-width: thin;
}

/* thinner scrollbar for chrome/safari */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.main-container {
    color: black;
    background-color: white;
    font-family: sans-serif;
    font-size: 9pt;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 54px;
    min-height: 54px;
}

.chats-list-header {
    display: flex;
    align-items: center;
    min-width: 300px;
    width: 20%;
    height: 100%;
}

.chat-header {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    box-shadow: -1px 1px 0 #e7e7e7;
}

.icon-wrapper {
    width: 38px;
    height: 32px;
    display: flex;
    align-items: center;
}

.icon {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 38px;
    max-height: 32px;
}

.icon:hover {
    -webkit-filter: brightness(70%);
}

.search-input {
    height: 32px;
    color: #a8a8a8;
    background-color: #f1f1f1;
    border-radius: 3px;
    flex-grow: 1;
    padding-left: 8px;
    margin-right: 12px;
    border: none;
    outline: none;
}

.search-input:focus {
    background-color: white;
    box-shadow: 0 0 0 2px #419fd9;
}

.animated {
    transition: all 0.1s ease-out;
}

.status-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
}

.status-block > div {
    margin-top: 2px;
    margin-bottom: 2px;
}

.name-text {
    color: black;
    font-weight: bold;
}

.status-text {
    color: #a8a8a8;
}

/* contents */

.contents {
    display: flex;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-flow: row;
    overflow-y: hidden;
}

.chats-list {
    display: block;
    min-width: 350px;
    min-width: 300px;
    width: 20%;
    height: 100%;
    min-height: 0;
    overflow-y: auto;
}

.chat {
    flex-grow: 1;
    display: block;
    box-shadow: -1px -1px 0 #e7e7e7;
}

/* chats-list-item */

.chats-list-item {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 64px;
}

.user-pic-wrapper {
    display: flex;
    align-items: center;
}

.user-pic {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}

.chats-list .user-pic-wrapper {
    height: 100%;
    width: 64px;
    margin-left: 8px;
    margin-right: 8px;
}

.chats-list .user-pic {
    max-height: 80%;
}

.chat-data {
    flex-grow: 1;
    flex: 1 1 0;
    min-width: 0;
    display: flex;
    flex-flow: column;
    margin-right: 12px;
    justify-content: center;
}

.chat-data .data-wrapper {
    max-width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 4px;
    margin-bottom: 4px;
}

.chat-data .text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat-data .unread-count {
    min-width: 20px;
    padding: 2px 2px 2px 2px;
    line-height: 105%;
    background-color: #40a7e3;
    color: white;
    border-radius: 500px;
    flex: 0 1 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    margin-left: 2px;
}

.chat-data .name {
    font-weight: bold;
}

.chat-data .text {
    color: #a8a8a8;
}

.chat-data .timestamp {
    color: #a8a8a8;
}

/*.chat-data .bottom {
    display: flex;
    flex-flow: row;
}*/

/*.chats-list-item {
    height: 60px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: #ddd;
    display: flex;
    align-items: center;
}

.chats-list-item:hover {
    background-color: #ddd;
}

.selected {
    background-color: #eee;
}

.time-stamp {
    color: #aaa;
    font-size: 10pt;
    align-self: start;
    white-space: nowrap;
    padding: 5px;
}

.unread-counter {
    align-self: flex-end;
    background-color: #64BB4D;
    min-height: 20px;
    min-width: 20px;
    text-align: center;
    margin:5px;
    line-height: 20px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 15px; 
}*/

/* chat */

/*.chat-contents {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    background-color: #D0DBE1;
    min-height: 500px;
    max-height: 500px;
}

.chat {
    width: 100%;
    display: block;
}

.message-wrapper {
    padding-bottom: 20px;
    padding-left: 10px;
}

.message {
    width: 60%;
    padding: 5px;
    padding-bottom: 15px;
    min-height: 30px;
    position: relative;
}

.my-message {
    align-self: end;
    margin-left:auto;
    margin-right:0;
    background-color: #E7FFD1;
    margin-right: 10px;
}

.others-message {
    background-color: white;
}

.message-timestamp {
    position: absolute;
    bottom: 0px;
    right: 0px;
    white-space: nowrap;
    margin-right: 2px;
    font-size: 10px;
    
}

.my-message > .message-timestamp {
    color: #94A686;
}

.others-message > .message-timestamp {
    color: #aaa;
}

.input-box {
    display: flex;
    height: 40px;
    background-color: white;
    align-items: center;
}

.input-box-icon {
    height: 60%;
}

textarea {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 12px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: #ddd;
}

#emoji-icon {
    padding-left: 10px;
}

#attach-icon {
    padding-left: 10px;
}


.block1 {
    position: relative;
}

.block2 {

    position: absolute;
    top: 0px;
    right: 0px;
}*/
